@model IEnumerable<QuanLyHangHoa.Models.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: blue"><b>Danh Sách Phiếu Nhập</b></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTaoPhieu)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTaoPhieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPN })
        </td>
    </tr>
}

</table>
